<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camplus.vector.mappers.KnowledgeDocMapper">

    <insert id="insertKnowledgeDoc" parameterType="map" useGeneratedKeys="true" keyProperty="docId" keyColumn="doc_id">
        INSERT INTO knowledge_docs (doc_name, doc_path, doc_content, doc_type, chunk_count)
        VALUES (#{docName}, #{docPath}, #{docContent}, #{docType}, #{chunkCount})
    </insert>

</mapper>
